*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #F6B83D;
  --color-primary-light: #FFF4DF;
  --color-text: #262626;
  --color-white: #FFFFFF;
  --color-error: #EF2447;
  --color-success: #3CBC81;
  --color-border: #F6B83D;
  --color-button: #F6B83D;
  --color-button-hover: #f9b020;
  --color-button-hover-2: #fbe7c1;
  --color-background: #f9f9f9;
  --color-close: #a32d2d;
  --color-close-background: #fde8e8;

  --font-main: 'Manrope', sans-serif;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 30px;

  --transition: 250ms ease;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-white);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
  }
}